<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">O нас</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Окна</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Коллекции</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Услуги</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Распродажа</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Новости</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Клиентам</a></li>
  </ul>
</nav>
