<div class="compare-window">
  <div class="container">
    <h3 class="compare-window__title">Сравнение окон Kaleva с дешевыми аналогами</h3>
    <div class="row justify-content-between justify-content-md-center">
      <div class="col-lg-3">
        <div class="compare-window__minus">
          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon compare-window__minus-icon--headline"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head compare-window__minus-head--headline">Минусы дешевых окон ПВХ </span>
            </div>
          </div>
          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head">Недолговечность</span>
              <span class="compare-window__minus-descr">Короткий срок службы</span>
            </div>
          </div>

          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head">Плохое качество</span>
              <span class="compare-window__minus-descr">Низкокачественные материалы</span>
            </div>
          </div>

          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head">Примитивный дизайн</span>
              <span class="compare-window__minus-descr">Зачастую устаревший дизайн</span>
            </div>
          </div>

          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head">Дешевая фурнитура</span>
              <span class="compare-window__minus-descr">Некачественная фурнитура</span>
            </div>
          </div>

          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head">Неэксклюзивно</span>
              <span class="compare-window__minus-descr">Продают все кому не лень</span>
            </div>
          </div>

          <div class="compare-window__minus-item">
            <span class="compare-window__minus-icon"></span>
            <div class="compare-window__minus-info">
              <span class="compare-window__minus-head">Плохие уплотнители</span>
              <span class="compare-window__minus-descr">Плохая тепло- и шумоизоляция</span>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-5">
        <img src="../../img/compare-window.png" class="compare-window__img" alt="сравнение окон">
      </div>
      <div class="col-lg-3">
        <div class="compare-window__plus-item">
          <span class="compare-window__plus-icon compare-window__plus-icon--headline"></span>
          <div class="compare-window__plus-info">
            <span class="compare-window__plus-head compare-window__plus-head--headline">Плюсы окон <br> Kaleva </span>
          </div>
        </div>

        <div class="compare-window__plus">
          <div class="compare-window__plus-item">
            <span class="compare-window__plus-icon"></span>
            <div class="compare-window__plus-info">
              <span class="compare-window__plus-head">Долговечность</span>
              <span class="compare-window__plus-descr">Срок службы 20 лет и более</span>
            </div>
          </div>

          <div class="compare-window__plus-item">
            <span class="compare-window__plus-icon"></span>
            <div class="compare-window__plus-info">
              <span class="compare-window__plus-head">Качество</span>
              <span class="compare-window__plus-descr">Только качественные материалы</span>
            </div>
          </div>

          <div class="compare-window__plus-item">
            <span class="compare-window__plus-icon"></span>
            <div class="compare-window__plus-info">
              <span class="compare-window__plus-head">Дизайн</span>
              <span class="compare-window__plus-descr">Красивый и современный дизайн</span>
            </div>
          </div>

          <div class="compare-window__plus-item">
            <span class="compare-window__plus-icon"></span>
            <div class="compare-window__plus-info">
              <span class="compare-window__plus-head">Фурнитура</span>
              <span class="compare-window__plus-descr">Дорогая и качественная фурнитура</span>
            </div>
          </div>

          <div class="compare-window__plus-item">
            <span class="compare-window__plus-icon"></span>
            <div class="compare-window__plus-info">
              <span class="compare-window__plus-head">Умное окно</span>
              <span class="compare-window__plus-descr">Доолнительная функция умного окна</span>
            </div>
          </div>

          <div class="compare-window__plus-item">
            <span class="compare-window__plus-icon"></span>
            <div class="compare-window__plus-info">
              <span class="compare-window__plus-head">Тепло и тишина</span>
              <span class="compare-window__plus-descr">Идеальная тепло - и шумоизоляция</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>