<div class="callback">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <p class="callback__title">Закажите замер прямо сейчас!</p>
        <form class="form">
          <label for="">
            <input class="form__input" type="text" placeholder="Ваше имя"/>
          </label>
          <label for="">
            <input class="form__input" type="text" placeholder="Ваш номер телефона"/>
          </label>
          <button class="btn  btn--orange">заказать</button>
          <div class="form__checkbox-wrap">
            <input class="form__checkbox" type="checkbox"> Даю согласие на обработку Персональных данных
          </div>
        </form>
      </div>
    </div>
  </div>
</div>