.callback {
  font-family: "Gilroy Bold";
  background:url("../../img/order-call.png") $color-secondary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  padding: 80px 0;

  &__title {
    color: $white;
    font-weight: 800;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
  }

  @media only screen and (max-width: 420px) {
    &__title {
      font-size: 32px;
      line-height: 44px;
    }
  }


}

.form {
  position: relative;
  z-index: 1;
  text-align: center;

  &__checkbox {
    margin-right: 10px;
    &-wrap {
      color: $white;
      display: flex;
      margin-top: 20px;
    }
  }
}

.form__input {
  color: #212F3C;
  outline: 0;
  background: $white;
  width: 100%;
  border: 0;
  margin: 0 0 24px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
}
