<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <span class="hero__heading">Премиальные окна нового поколения <span class="hero__dot"></span></span>
        <ul class="hero__list">
          <li class="hero__list-item">Индивидуальные решения для каждого проекта</li>
          <li class="hero__list-item">Точное соблюдение условий и сроков</li>
        </ul>
        <button class="btn hero__btn btn--blue">
          <span class="btn__txt">Бесплатная консультация</span>
        </button>
      </div>
      <div class="col-lg-7">
        <div class="hero__slider">
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="../../img/bg-1.jpg" alt="" class="hero__slider-img">
              </div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="title hero__title">H1 заголовок для страницы</h1>
  </div>
</div>
