<div class="collection">
  <div class="container">
    <span class="collection__heading">Коллекции</span>
    <div class="collection__list">
      <div class="row no-gutters">
        <div class="col-lg-3 col-6">
          <article class="collection__card collection__card--standart">
            <h2 class="collection__card-name">Standart</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-3 col-6">
          <article class="collection__card collection__card--vita">
            <h2 class="collection__card-name">Vita</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-6 col-12">
          <article class="collection__card  collection__card--space">
            <h2 class="collection__card-name">Space</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>

        <div class="col-lg-6 col-12">
          <article class="collection__card collection__card--vario">
            <h2 class="collection__card-name">Vario</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-3 col-6">
          <article class="collection__card collection__card--deco">
            <h2 class="collection__card-name">Deco </h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-3 col-6">
          <article class="collection__card collection__card--design">
              <h2 class="collection__card-name">Design</h2>
              <div class="collection__card-info">
                <span class="collection__card-producer">Kaleva</span>
                <span class="collection__card-price">от 9 500 р.</span>
              </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>