<div class="collection">
  <div class="container">
    <span class="collection__heading">Коллекции</span>
    <div class="collection__list">
      <div class="row no-gutters">
        <div class="col-lg-3">
          <article class="collection__card">
            <img class="collection__card-img" src="../../img/standart.png" alt="">
            <h2 class="collection__card-name">Standart</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-3">
          <article class="collection__card collection__card--blue">
            <img src="../../img/vita.png" class="collection__card-img" alt="">
            <h2 class="collection__card-name">Standart</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-6">
          <article class="collection__card">
            <img src="" class="collection__card-img" alt="">
            <h2 class="collection__card-name">Standart</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>

        <div class="col-lg-6">
          <article class="collection__card collection__card--light">
            <img src="" class="collection__card-img" alt="">
            <h2 class="collection__card-name">Standart</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-3">
          <article class="collection__card collection__card--blue">
            <img src="../../img/titan.png" class="collection__card-img" alt="">
            <h2 class="collection__card-name">Standart</h2>
            <div class="collection__card-info">
              <span class="collection__card-producer">Kaleva</span>
              <span class="collection__card-price">от 9 500 р.</span>
            </div>
          </article>
        </div>
        <div class="col-lg-3">
          <article class="collection__card collection__card--gray">
            <img src="../../img/plus.png" class="collection__card-img" alt="">
              <h2 class="collection__card-name">Standart</h2>
              <div class="collection__card-info">
                <span class="collection__card-producer">Kaleva</span>
                <span class="collection__card-price">от 9 500 р.</span>
              </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>