<section class="advantages">
  <div class="container">
    <span class="advantages__heading">Преимущества</span>
    <div class="advantages__inner">

        <div class="advantages__card advantages__card--white">
          <div class="advantages__card-icon">
            <img src="../../img/Group.svg" alt="">
          </div>
          <div class="advantages__card-descr">
            <p>Окна премиум класса</p>
          </div>
        </div>

        <div class="advantages__card advantages__card--light">
          <div class="advantages__card-icon">
            <img src="../../img/Group.svg" alt="">
          </div>
          <div class="advantages__card-descr">
            <p>Срок службы в 10 раз больше</p>
          </div>
        </div>

        <div class="advantages__card advantages__card--orange">
          <div class="advantages__card-icon">
            <img src="../../img/Group.svg" alt="">
          </div>
          <div class="advantages__card-descr">
            <p>Современный дизайн</p>
          </div>
        </div>

        <div class="advantages__card advantages__card--white">
          <div class="advantages__card-icon">
            <img src="../../img/Group.svg" alt="">
          </div>
          <div class="advantages__card-descr">
            <p>Любой цвет окна</p>
          </div>
        </div>

        <div class="advantages__card advantages__card--sky">
          <div class="advantages__card-icon">
            <img src="../../img/Group.svg" alt="">
          </div>
          <div class="advantages__card-descr">
            <p>Множество дополнительных функций</p>
          </div>
        </div>

    </div>
  </div>
</section>