* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: $fontSize;
    font-family: $fontFamily;
    line-height: $lineHeight;
    color: $colorFont;
    font-weight: $fontRegular;
}

h1 {
    margin-bottom: vertical-indent(4);
    line-height: 40px;
    font-size: $fontSizeH1;
    font-weight: $fontSemibold;
    color: $colorFont;
}

h2 {
    font-size: $fontSizeH2;
    line-height: 32px;
    font-weight: $fontSemibold;
    color: $colorFont;
}

h3 {
    font-size: $fontSizeH3;
    line-height: 28px;
    font-weight: $fontRegular;
    color: $colorFont;
}

p {

}

.secondary-text {
    font-size: $fontSizeSecondary;
}

a {
    color: #212F3C;
    text-decoration: none;

    &:hover {
        color: #212F3C;
        text-decoration: none;
    }
}

img {
  max-width: 100%;
  height: auto;
}

.page-logo {
  position: relative;
  display: block;
  width: 150px;
}

.swiper-pagination-bullet {
    margin-left: 20px;
}
.swiper-pagination-bullet-active {
    color: $color-secondary;
}

.swiper-pagination {
    position: absolute;
    bottom: 75px;
    right: 150px;
    z-index: 99;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 576px) {
        & {
            bottom: 45px;
            right: 60px;
        }
    }

}
