<header class="page-header">

      <div class="page-header__top">
        <div class="container">
          <div class="row align-items-center">
        <div class="page-header__location">
          <svg
            width="12"
            height="16"
            viewBox="0 0 12 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.99973 0C2.75201 0 0.109497 2.64251 0.109497 5.89056C0.109497 6.73777 0.282903 7.54667 0.624638 8.29499C2.09736 11.5176 4.92098 14.9201 5.75149 15.886C5.81371 15.9582 5.90443 15.9998 5.99989 15.9998C6.09535 15.9998 6.18607 15.9582 6.24829 15.886C7.07848 14.9203 9.90209 11.518 11.3753 8.29499C11.7172 7.54667 11.8904 6.73777 11.8904 5.89056C11.8901 2.64251 9.24761 0 5.99973 0ZM5.99973 8.95013C4.31266 8.95013 2.93999 7.57746 2.93999 5.89039C2.93999 4.20317 4.31266 2.83049 5.99973 2.83049C7.68679 2.83049 9.05946 4.20317 9.05946 5.89039C9.05963 7.57746 7.68695 8.95013 5.99973 8.95013Z"
              fill="#006DD2"
            />
          </svg>
          <span>СПб, пр. Народного Ополчения, д. 22, оф. 211</span>
        </div>
        <div class="page-header__phone">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.6413 12.6447L13.1703 10.1734C12.6782 9.68326 11.8631 9.69815 11.3538 10.2076L10.1089 11.4522C10.0303 11.4089 9.94889 11.3636 9.8633 11.3156C9.07717 10.88 8.00123 10.283 6.86902 9.14995C5.73345 8.01452 5.13589 6.93692 4.69897 6.15029C4.65287 6.06695 4.60869 5.9866 4.56507 5.9103L5.40056 5.07605L5.81132 4.66478C6.32142 4.15455 6.33548 3.33974 5.84446 2.84813L3.37352 0.376627C2.8825 -0.114299 2.0671 -0.099406 1.557 0.410826L0.860606 1.11122L0.879637 1.13012C0.646125 1.42807 0.450996 1.77172 0.305787 2.1423C0.171932 2.49505 0.088594 2.83167 0.0504875 3.16897C-0.275785 5.87385 0.960262 8.3459 4.31474 11.7004C8.95164 16.337 12.6884 15.9867 12.8496 15.9696C13.2007 15.9277 13.5371 15.8438 13.8791 15.711C14.2465 15.5675 14.5899 15.3726 14.8876 15.1396L14.9029 15.1531L15.6084 14.4623C16.1174 13.9522 16.1321 13.1371 15.6413 12.6447Z"
              fill="#0085FF"
            />
          </svg>
          <a href="tel:+788126556156">8 812 655 61 56</a>
        </div>
        <div class="page-header__order-call">
          <span>Заказать звонок</span>
        </div>
        <button class="btn btn--orange">
          <span class="btn__txt">Заявка на замер</span>
        </button>
          </div>
        </div>
      </div>
      <div class="page-header__bottom">
        <div class="container">
          <div class="row align-items-center">
        <a href="#" class="page-logo">
          <img src="../../img/logo.png" alt="лого" />
        </a>
       {% include "../../blocks/main-nav/main-nav.twig" %}
        <div class="page-header__search">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.4688 14.5688L11.7875 10.8875C12.7 9.775 13.25 8.35 13.25 6.79688C13.25 3.23438 10.3594 0.34375 6.79688 0.34375C3.23125 0.34375 0.34375 3.23438 0.34375 6.79688C0.34375 10.3594 3.23125 13.25 6.79688 13.25C8.35 13.25 9.77187 12.7031 10.8844 11.7906L14.5656 15.4688C14.8156 15.7188 15.2188 15.7188 15.4688 15.4688C15.7188 15.2219 15.7188 14.8156 15.4688 14.5688ZM6.79688 11.9656C3.94375 11.9656 1.625 9.64688 1.625 6.79688C1.625 3.94688 3.94375 1.625 6.79688 1.625C9.64688 1.625 11.9688 3.94688 11.9688 6.79688C11.9688 9.64688 9.64688 11.9656 6.79688 11.9656Z"
              fill="#212F3C"
            />
          </svg>
        </div>
          </div>
        </div>
      </div>

</header>
